{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>I CU project</h2>
    <div class="main-content">
        <div class="video-section">
            <img id="videoElement" src="{% url 'live_feed' %}" alt="Live Stream">
        </div>
        <div class="info-section">
            <div class="time-section">
                <h5>시간</h5>
                <p id="time"></p>
                <script src="{% static 'js/live_alert.js' %}"></script>
            </div>
            <div class="location-section">
                <h5>장소</h5>
                <p id="location">편의점 위치 기입</p>
            </div>
            <div class="notification-section">
                <h5>알림창</h5>
                <div id="notification"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
